@using RecipesApp.Controllers
@{
    ViewBag.Title = "Надины рецепты";
}

@{

    if (@ViewBag.Cat == "Вторые блюда")
    {
        <div id="templatemo_top_dishes">
            <h1>Блюда из :</h1>
        </div>
        foreach(string key in ViewBag.TypeDish.Keys)
        {
            <div id="templatemo_next_dishes_2">
                <h1><a href="/Home/Category/@key">@ViewBag.TypeDish[key]</a></h1>
            </div>
        }
    }
    else
    {
        <div id="templatemo_top_dishes">
            <h1>@ViewBag.Cat</h1>
        </div>

        int size = ViewBag.Recipes.Count;

        for (int i = 0; i < size;)
        {
            <div id="templatemo_next_dishes">
                @for (int j = 0; j < 4; j++, i++)
                {
                    if (i >= size)
                    {
                        j = 5;
                        continue;
                    }


                    <div class="top_dishes_box">
                        @{
                            string s = "../../Content/images/pic/" + @ViewBag.Recipes[i].Id + ".jpg";

                            <a href="/Home/About/@ViewBag.Recipes[i].Id" target="_parent">
                                <img src=@s alt=@ViewBag.Recipes[i].Name width="205" height="150" />
                            </a>
                            <h2>@ViewBag.Recipes[i].Name</h2>
                            <p>
                                @ViewBag.Recipes[i].Ingridient <a href="/Home/About/@ViewBag.Recipes[i].Id" target="_parent">Читать далее</a>
                            </p>
                        }
                    </div>
                }
            </div>
        }
    }
}
