@model RecipesApp.Models.Recipe

@{
    ViewBag.Title = "Editor";
}
<div id="templatemo_top_dishes">
    <h1>Редактирование блюда - @Model.Name</h1>

    <div class="top_dishes_box">
        <form method="post" action="">
            <input type="hidden" name="Id" value="@Model.Id"> 
            <table>
                <tr>
                    <td><p>Название блюда :</p></td>
                    <td><input type="text" name="Name" value="@Model.Name"/></td>
                </tr>
                <tr>
                    <td><p>Выберите категорию :</p></td>
                    <td>
                        @Html.DropDownList("Type", new SelectList(new string[] { "Суп", "Второе блюдо", "Салат", "Закуска", "Выпечка", "Десерт", "Напиток" }))
                    </td>
                </tr>
                <tr>
                    <td><p>Выберите фото :</p></td>
                    <td><input type="text" name="Image" /> </td>
                </tr>
                <tr>
                    <td><p>Ингридиенты :</p></td>
                    <td>@Html.TextArea("Ingridient", Model.Ingridient, 5, 50, null)</td>
                </tr>
                <tr>
                    <td><p>Как готовить :</p></td>
                    <td>@Html.TextArea("Cooking", Model.Cooking, 25, 50, null)</td>
                </tr>
                <tr><td><input type="submit" value="Добавить рецепт" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</div>
